apiVersion: apps/v1
kind: Deployment
metadata:
  name: matcha-backend
  labels:
    app: matcha-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: matcha-backend
  template:
    metadata:
      labels:
        app: matcha-backend
    spec:
      containers:
        - name: matcha-backend
          image: asia-northeast3-docker.pkg.dev/matcha-480312/matcha-repo/matcha-backend:latest
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"

          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
