# db-secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: matcha-db-credentials
type: Opaque
stringData:
  MARIADB_ROOT_PASSWORD: "1234"
  MARIADB_ROOT_HOST: "%"
  MARIADB_DATABASE: "matcha_world_prod_db"
  MARIADB_USER: "root"
  MARIADB_PASSWORD: "1234"