apiVersion: apps/v1
kind: Deployment
metadata:
  name: matcha-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: matcha-frontend
  template:
    metadata:
      labels:
        app: matcha-frontend
    spec:
      containers:
      - name: matcha-frontend
        image: asia-northeast3-docker.pkg.dev/matcha-480312/matcha-repo/matcha-frontend:v2
        ports:
        - containerPort: 80
