apiVersion: apps/v1
kind: Deployment
metadata:
  name: matcha-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: matcha-frontend
  template:
    metadata:
      labels:
        app: matcha-frontend
    spec:
      containers:
      - name: matcha-frontend
        image: asia-northeast3-docker.pkg.dev/matcha-480312/matcha-repo/matcha-frontend:latest
        imagePullPolicy: Always
        ports:
          - containerPort: 80
        env:
          - name: VITE_API_BASE_URL
            value: "http://backend-service:80/api"
          - name: VITE_IMG_BASE_URL
            value: "http://backend-service:80/uploads"