apiVersion: apps/v1
kind: Deployment
metadata:
  name: matcha-db
spec:
  selector:
    matchLabels:
      app: matcha-db
  replicas: 1
  template:
    metadata:
      labels:
        app: matcha-db
    spec:
      containers:
        - name: mariadb
          image: mariadb:10.6
          env:
            - name: MARIADB_ROOT_PASSWORD
              value: "1234"
            - name: MARIADB_ROOT_HOST
              value: "%"
            - name: MARIADB_DATABASE
              value: matcha_world_prod_db
            - name: MARIADB_USER
              value: matcha_user
            - name: MARIADB_PASSWORD
              value: "1234"
          ports:
            - containerPort: 3306
          volumeMounts:
            - name: mariadb-data
              mountPath: /var/lib/mysql
      volumes:
        - name: mariadb-data
          emptyDir: {}
