apiVersion: apps/v1
kind: Deployment
metadata:
  name: matcha-db
spec:
  selector:
    matchLabels:
      app: matcha-db
  replicas: 1
  template:
    metadata:
      labels:
        app: matcha-db
    spec:
      containers:
        - name: mariadb
          image: mariadb:10.6
          envFrom: 
            - secretRef:
                name: matcha-db-credentials
          ports:
            - containerPort: 3306
          volumeMounts:
            - name: mariadb-data
              mountPath: /var/lib/mysql
            - name: mariadb-init-script  # <--- [1. ConfigMap 마운트 추가]
              mountPath: /docker-entrypoint-initdb.d/
      volumes:
        - name: mariadb-data
          emptyDir: {}
        - name: mariadb-init-script  # <--- [2. ConfigMap 정의 추가]
          configMap:
            name: mariadb-initdb-config
            items: # <<<<<<<<<<<<<<<< 이 섹션을 추가합니다.
              - key: 01-grant.sql # <<<<<<<<<< ConfigMap에 정의된 키 이름
                path: 01-grant.sql # <<<<<<<<<< 컨테이너 내부의 파일 이름
