name: Deploy Backend to GKE Autopilot

on:
  push:
    branches: ["main"]

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  GAR_LOCATION: asia-northeast3
  GAR_REPO: matcha-repo
  IMAGE_NAME: matcha-backend
  GKE_CLUSTER: ${{ secrets.GKE_CLUSTER }}
  GKE_LOCATION: ${{ secrets.GKE_LOCATION }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

    # 1) Checkout
    - name: Checkout Code
      uses: actions/checkout@v4

    # 2) Google Cloud 인증
    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    # Google Cloud CLI 설치 (공식 Action)
    - name: Setup gcloud
      uses: google-github-actions/setup-gcloud@v2

    # 4) 플러그인 활성화
    - name: Enable GKE Auth Plugin Env
      run: |
        echo "USE_GKE_GCLOUD_AUTH_PLUGIN=True" >> $GITHUB_ENV
        
    

    # 5) GKE 연결
    - name: Authenticate to GKE
      run: |
        gcloud container clusters get-credentials $GKE_CLUSTER \
          --region $GKE_LOCATION \
          --project $PROJECT_ID

    # 6) Backend JAR Build
    - name: Build Backend JAR
      run: |
        cd Matcha/backend
        chmod +x ./gradlew
        ./gradlew clean build -x test

    # 7) Docker Build
    - name: Build Docker Image
      run: |
        docker build -f ./Matcha/backend/Dockerfile \
        -t "$GAR_LOCATION-docker.pkg.dev/$PROJECT_ID/$GAR_REPO/$IMAGE_NAME:latest" \
        ./Matcha/backend

    # 8) Artifact Registry 로그인
    - name: Docker login to GAR
      run: |
        gcloud auth print-access-token | \
          docker login -u oauth2accesstoken --password-stdin https://$GAR_LOCATION-docker.pkg.dev

    # 9) Push Docker Image
    - name: Push Docker Image
      run: |
        docker push "$GAR_LOCATION-docker.pkg.dev/$PROJECT_ID/$GAR_REPO/$IMAGE_NAME:latest"

    # 10) Deploy to GKE
    - name: Deploy to GKE Autopilot
      run: |
        kubectl apply -f k8s/backend-deployment.yaml
        kubectl apply -f k8s/backend-service.yaml
