name: Deploy Frontend to GKE Autopilot

on:
  push:
    branches: ["main"]

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  GAR_LOCATION: asia-northeast3
  GAR_REPO: matcha-repo
  IMAGE_NAME: matcha-frontend
  IMAGE_TAG: ${{ github.sha }}
  GKE_CLUSTER: ${{ secrets.GKE_CLUSTER }}
  GKE_LOCATION: ${{ secrets.GKE_LOCATION }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

    # 1) Checkout
    - name: Checkout Code
      uses: actions/checkout@v4

    # 2) Google Cloud 인증
    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    # 3) Google Cloud SDK 설치 (includes gke-gcloud-auth-plugin)
    - name: Install Google Cloud CLI manually
      run: |
        curl -O https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-cli-487.0.0-linux-x86_64.tar.gz
        tar -xf google-cloud-cli-487.0.0-linux-x86_64.tar.gz
        ./google-cloud-sdk/install.sh --quiet
        echo "$PWD/google-cloud-sdk/bin" >> $GITHUB_PATH

    # 4) Plugin 환경변수
    - name: Enable GKE Auth Plugin Env
      run: |
        echo "USE_GKE_GCLOUD_AUTH_PLUGIN=True" >> $GITHUB_ENV
      

    # 5) GKE 연결
    - name: Authenticate to GKE
      run: |
        gcloud container clusters get-credentials $GKE_CLUSTER \
          --region $GKE_LOCATION \
          --project $PROJECT_ID

    # 6) Frontend Build
    - name: Build Frontend
      run: |
        cd Matcha/frontend
        npm ci
        npm run build

    # 7) Docker Build
    - name: Docker Build
      run: |
        docker build -f Matcha/frontend/Dockerfile \
        --build-arg VITE_API_BASE_URL=${{ secrets.API_BASE_URL }} \
        --build-arg VITE_IMG_BASE_URL=${{ secrets.IMG_BASE_URL }} \
        -t "$GAR_LOCATION-docker.pkg.dev/$PROJECT_ID/$GAR_REPO/$IMAGE_NAME:${IMAGE_TAG}" \
        -t "$GAR_LOCATION-docker.pkg.dev/$PROJECT_ID/$GAR_REPO/$IMAGE_NAME:latest" \
        Matcha/frontend

    # 8) Artifact Registry 로그인
    - name: Docker login to GAR
      run: |
        gcloud auth print-access-token | \
          docker login -u oauth2accesstoken --password-stdin https://$GAR_LOCATION-docker.pkg.dev

    # 9) 이미지 Push
    - name: Push Docker Image
      run: |
        docker push "$GAR_LOCATION-docker.pkg.dev/$PROJECT_ID/$GAR_REPO/$IMAGE_NAME:${IMAGE_TAG}"
        docker push "$GAR_LOCATION-docker.pkg.dev/$PROJECT_ID/$GAR_REPO/$IMAGE_NAME:latest"

    # 10) Kubernetes apply
    - name: Apply K8s manifest
      run: |
        kubectl apply -f k8s/frontend-deployment.yaml --record
        kubectl apply -f k8s/frontend-service.yaml --record

    # 11) 롤링 업데이트
    - name: Restart frontend deployment
      run: kubectl rollout restart deployment/matcha-frontend
