name: Deploy Frontend to GKE Autopilot

on:
  push:
    branches: ["main"]

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  GAR_LOCATION: asia-northeast3
  GAR_REPO: matcha-repo
  IMAGE_NAME: matcha-frontend
  IMAGE_TAG: ${{ github.sha }}
  GKE_CLUSTER: ${{ secrets.GKE_CLUSTER }}
  GKE_LOCATION: ${{ secrets.GKE_LOCATION }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout Code
      uses: actions/checkout@v4

    # 1) Google Cloud 인증
    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    # 2) gcloud 설치
    - name: Install gcloud SDK
      uses: google-github-actions/setup-gcloud@v2

    # 3) GKE Auth Plugin 활성화 (설치 X)
    - name: Enable GKE Auth Plugin
      run: echo "USE_GKE_GCLOUD_AUTH_PLUGIN=True" >> $GITHUB_ENV

    # 4) Frontend Build
    - name: Build Frontend
      run: |
        cd Matcha/frontend
        npm ci
        npm run build

    # 5) Docker Build
    - name: Docker Build
      run: |
        docker build -f Matcha/frontend/Dockerfile \
        --build-arg VITE_API_BASE_URL=${{ secrets.API_BASE_URL }} \
        --build-arg VITE_IMG_BASE_URL=${{ secrets.IMG_BASE_URL }} \
        -t "$GAR_LOCATION-docker.pkg.dev/$PROJECT_ID/$GAR_REPO/$IMAGE_NAME:${IMAGE_TAG}" \
        -t "$GAR_LOCATION-docker.pkg.dev/$PROJECT_ID/$GAR_REPO/$IMAGE_NAME:latest" \
        Matcha/frontend

    # 6) GAR 로그인
    - name: Docker login to GAR
      run: |
        gcloud auth print-access-token | \
          docker login -u oauth2accesstoken --password-stdin https://$GAR_LOCATION-docker.pkg.dev

    # 7) Push Docker Image
    - name: Push Docker Image
      run: |
        docker push "$GAR_LOCATION-docker.pkg.dev/$PROJECT_ID/$GAR_REPO/$IMAGE_NAME:${IMAGE_TAG}"
        docker push "$GAR_LOCATION-docker.pkg.dev/$PROJECT_ID/$GAR_REPO/$IMAGE_NAME:latest"

    # 8) GKE Credentials 가져오기 (플러그인 설치 NO)
    - name: Authenticate to GKE
      run: |
        gcloud container clusters get-credentials $GKE_CLUSTER \
          --region $GKE_LOCATION \
          --project $PROJECT_ID

    # 9) Apply YAML
    - name: Apply K8s manifest
      run: |
        kubectl apply -f k8s/frontend-deployment.yaml
        kubectl apply -f k8s/frontend-service.yaml

    # 10) 롤링 업데이트
    - name: Restart frontend deployment
      run: kubectl rollout restart deployment/matcha-frontend
